@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #020617; 
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(15, 23, 42, 0.5); 
}
::-webkit-scrollbar-thumb {
  background: rgba(56, 189, 248, 0.3); 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(56, 189, 248, 0.5); 
}